
.grid-container>.ins>*:not(img):not(table):not(.date) {
	padding: 0 30px;
	margin-bottom: 16px;
}


.ins {
	overflow: hidden;
	margin-bottom: 50px;
	transition: 1s height;

	strong {
		@include core(65);
	}

	a {
		@include core(65);
		color: $lightGreen;
		&:hover {
			text-decoration: underline;
		}
	}

	h1, h1 a {
		font-size: 33px;
		@include core(65);
		color: $darkGreen;
	}
	h1 {
		margin-bottom: 20px;
		text-transform: none;
	}
	h2 {
		margin-bottom: 20px;	
		font-size: 22px;
		@include core(65);
		color: $lightGreen;
		text-transform: none;
	}
	h3 {
		margin-bottom: 15px;	
		font-size: 13px;
		@include core(65);
		color: $darkGreen;
		text-transform: none;
	}

	.date {
		@include core(65);
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid $lightGreen;
		.dateInner, .green {
			color: $lightGreen;
		}
		margin-bottom: 20px;
	}

	ul {
		margin: 0;
		list-style: none;
		li {
			padding-left: 1em;
			text-indent: -1.5em;
			line-height: 1;
			&:before {
				content: "• ";
				color: $lightGreen;
				font-size: 32px;
				top: 5px;
				position: relative;
			}
		}
	}

	ol {
		margin: 0;
		list-style: none;
		li {
			padding-left: 1em;
			text-indent: 0;
			line-height: 1.4;
			margin-bottom: 20px;
			position: relative;
			counter-increment: step-counter;
			&:before {
				position: absolute;
				content: counter(step-counter);
				background: url(../img/listicon.svg);
				width: 30px;
				height: 33px;
				top: -10px;
				left: -30px;
				text-indent: 9px;
				text-indent: 10px;
				@include core(65);
				font-size: 16px;
				line-height: 2.3;		    
			}
		}
	}

	blockquote {
		border-left: 1px solid $lightGreen;	
	}

	table {

		// tbody tr:nth-child(even) {
		// 	background-color: $white;
		// }
		// tbody tr:nth-child(odd) {
		// 	background-color: #f1f1f1;
		// }
		tbody tr {
			background-color: $white;
			font-size: 16px;
			@include core(35);
		}		

		tbody tr:first-child {
			background-color: $lightWhite;
			@include core(65);
		}
		tbody tr:last-child {
			background-color: $lightGreen;
			color: $white;
			@include core(65);
		}



	}
	

	&:nth-child(1) .openClose {
		&:after {
			background: url(../img/closeins.svg) no-repeat;
		}
	}
}

.openClose {
	width: 100%;
	border: 1px solid $lightGreen;
	position: relative;
	margin: 60px 0;
	cursor: pointer;
	&.rotate {
		&:after {
			transform: rotate(180deg);
		}
	}

	&:hover {
		&:after {
			background: url(../img/openins_hover.svg) no-repeat;
		}
	}

	&:after {
		content: "";
		position: absolute;
		background: url(../img/openins.svg) no-repeat;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -40px;
		width: 80px;
		height: 80px;
	}
}