.slides {

	position: absolute;
	margin: 0 auto;
	width: 1200px;
	max-width: 100%;
	left: 0;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);

	// transition: transform 0.7s, width 0.7s, min-height 0.7s, left 0.7s, top 0.7s;
	transition: transform 0.7s, width 0.7s, min-height 0.7s, left 0.7s, top 0.7s, 0.5s opacity;
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	// overflow-x: hidden; //experimental

	@at-root .expanded#{&} {
		transition: width 0.7s, min-height 0.7s, left 0.7s, top 0.7s;
		transform: translate(0, 0%);
		width: calc(100% - 40px);
		top: 20px;
		
		@include breakpoint(medium) {
			width: calc(100% - 100px);
			top: 50px;
			margin-bottom: 50px;
		}
	}
	
	&.loaded {
		opacity: 1!important;
	}


	&:not(.expanded) {
		opacity: 0;
	}

	&.expanded {
		// overflow: hidden;  //??
	}

	.dynamicFrame {

		// position: relative;     // WEgen dem Frame!
		width: 100%;
		height: 100%;
		// min-height: 300px;
		// max-height: 350px;
		
		// transition: 10s height, 10s max-height;
		
		// @at-root .expanded#{&} {
		// 	height: 100%;
		// 	max-height: 100%;
			
		// }

		// -moz-border-image: -moz-linear-gradient(top left, $gold-light 0%, $gold-dark 100%);
		// -webkit-border-image: -webkit-linear-gradient(top left, $gold-light 0%, $gold-dark 100%);
		border-style: solid;
		border-width: 4px;
		@include breakpoint(medium) {
			border-width: 8px;
		}

		border-image: linear-gradient(to bottom right, $gold-light 0%, $gold-dark 100%);
		border-image-slice: 1;
		z-index: 990;	
		// margin-bottom: 30px;
		



		.bigimg {
			position: relative;
			width: 100vw;
			left: -39px;
			// margin-bottom: 40px;
			height: 0;
			transition: 0.5s height;
			display: none;
			
			@include breakpoint(medium) {
			    left: -58px;
				// margin-bottom: 100px;
	    	}
			img {
				max-width: auto;
				width: 100%;
			}

			@at-root .expanded#{&} {
				height: 100%;
				display: block;
			}

	    }



		.internSlider {
	    	display: none;
			position: relative;
			width: 100%;
			

			@at-root .expanded#{&} {
				display: block;
							
			}
			
			img {
				max-width: auto;
				width: 100%;
			}

			.slick-dots {

				bottom: 10px;
				@include breakpoint(medium) {
					bottom: 40px;
				}




				li {
					&.slick-active {
						button {
							top: 2px;
							&:before {
								color: white;
								opacity: 1;
								content: '•';
								border: none;
							}
						}
					}
					button {
						position: relative;
						&:before {
							content: " ";
							opacity: 1;
							color: white;
							font-size: 24px;
							border: 3px white solid;
							border-radius: 50%;
						}
					}
				}
			}

		}






	    .maxFrame {
    		display: flex;
    		position: relative;
    		flex-wrap: wrap;
    		max-width: 1170px;
    		width: 100%;
    		margin: 0 auto;
    		left: 0;
    		right: 0;
    		// border: 1px red dashed;
    		height: 100%;
    		
	    	@at-root .expanded#{&} {
	    		position: relative;
	    	}
	    	
			// .right, .left, img {
			// 	height: 0;
			// 	transition: 0.7s height;
				
			// 	@at-root .expanded#{&} {
			// 		height: auto;
			// 	}
				

			// }
			


			.collectionLeft {

				display: none;
				@at-root .expanded#{&} {
					display: block;
				}

			}

			.collectionRight {
				display: none;

				@at-root .expanded#{&} {
					display: block;
								
				}
			}




			.collectionRight, .collectionLeft {
				
				position: relative;
				width: 100%;
				
				@include breakpoint(medium) {
					width: 100%;
				}
				
				@include breakpoint(large) {
					width: 50%;
				}



				&.grey {
					background: $grey;
					
					&:before {

						content: " ";
					    background: $grey;
					    position: absolute;
					    width: 250%;
					    height: 100%;
					    z-index: -10;
    					left: -600px;
    					
    					@include breakpoint(medium) {
					    	left: 0;
						}
					}
					
				}
				
				.description {
					font-size: 12px;
					padding: 40px 20px;
					
					@include breakpoint(medium) {
						padding: 70px 30px;
						font-size: 14px;
					}

					@include breakpoint(large) {
						padding: 140px 50px;
						font-size: 16px;
					}
						
				}

				.claim {
					margin: 20px;
					font-size: 28px;
					line-height: 1.3;
					color: $gold-dark;
					@include avenir('demi') 
					
					@include breakpoint(medium) {
						font-size: 40px;
						margin-top: 70px;
						color: black;;
					}

					@include breakpoint(medium) {
						margin-top: 140px;
						font-size: 48px;
					}
				}



			}


					.both {

						position: relative;
						width: 100%;			
						
						&.grey {
							display: none;
							background: $grey;
							@at-root .expanded#{&} {
								display: block;
							}


							&:before {
								content: " ";
							    background: $grey;
							    position: absolute;
							    width: 250%;
							    height: 100%;
							    right: -50%;
							    z-index: -10;
							}

						}

						.gr {
							position: relative;
							display: flex;
							flex-direction: column;
							margin: 0 auto;
							padding: 20px;
							flex-wrap: no-wrap;
							@include breakpoint(medium) {
								flex-direction: row;
							}
							
							.grCont {
								// &:nth-child(n+2) {
								// 	display: none;
								// 	@include breakpoint(medium) {
								// 		display: block;
								// 	}
								// }
								@include breakpoint(large) {
								    max-width: 50%;
								}


								flex: 1 1 100%;
								padding: 20px;
			    				svg {
			    					width: 100%;
			    					height: auto;
			    				}
							}


							.change {
								position: absolute;
							    right: 0;
							    top: calc(50% - 40px);
							    width: 50px;
							    height: 120px;
							    background: white url(../img/nextgr.png) no-repeat;
							    background-position: 16px 37px;
							    cursor: pointer;
							}


							@include breakpoint(medium) {
								
							}
							
							@include breakpoint(large) {
								// margin: 30px 10px 20px 90px;
							}

						}
						
					}




			.left {

		   
				position: relative;
				width: 60%;				

				&:not(.grey) {
					width: 100%;
					display: flex;
					align-items: center;
					min-height: 350px;

					@include breakpoint(medium) {

						width: 60%;
					}
					
					@include breakpoint(large) {

					}

				}
				
				@at-root .expanded#{&} {
					width: 100%;
					display: block;			
					
					@include breakpoint(medium) {
						width: 100%;
					}
					
					@include breakpoint(large) {
						width: 50%;
					}

				}
				
				&.grey {
					display: none;
					background: $grey;
					@at-root .expanded#{&} {
						display: block;
					}


					&:before {
						content: " ";
					    background: $grey;
					    position: absolute;
					    width: 250%;
					    height: 100%;
					    right: -50%;
					    z-index: -10;
					}

				}




				h1 {
					@include freight(400) //??
					// font-size: 50px;
					// font-size: 16vw;
					font-size: 52px;
					padding: 20px;
					line-height: 1;
					color: #A67543;
					transition: color 0.7s, margin-top 0.7s;
					cursor: pointer;
					margin: 0;
					


					// &[data-cat="pent"] {
					// 	height: 280px;
					// }

					// &[data-cat="loft"] {
					// 	height: 280px;
					// }
					
					// &[data-cat="ap"] {
					// 	height: 280px;
					// }


					
					@include breakpoint(medium) {
						font-size: 80px;
					}
					
					@include breakpoint(large) {
						font-size: 80px;
					}
					
					@at-root .expanded#{&} {
						left: 0;
						margin: 100px 0 0 0;
						cursor: auto;
						color: black;
						position: relative;

						@include breakpoint(medium) {

						}
						
						@include breakpoint(large) {
							margin-top: 200px;
							left: 100px;
						}


					}

				}



				.backToO {
					position: absolute;
					display: inline-block;
					font-weight: 600;
					margin: 20px;
					line-height: 1.2;
					font-size: 24px;
					height: 0;
					visibility:hidden;
					opacity:0;
					transition: visibility 0s linear 0.5s, opacity 0.5s linear;
					
					&:before {
						content: "";
						width: 40px;
						height: 20px;
						background: url(../img/backToO_arrow.svg) no-repeat;
						position: absolute;
						left: -60px;
						top: 15px;
					}

					@at-root .expanded#{&} {

						position: absolute;
						visibility:visible;
						opacity:1;
						transition-delay:0s;
						left: auto;
						right: 0;
						height: auto;
						top: 20px;

						@include breakpoint(medium) {
							top: 0;
						}
						
						@include breakpoint(large) {
							left: 60px;
							position: relative;
							left: 100px;
							height: auto;
							margin-top: 150px;

						}


					}
				}
				

				.download {
					position: relative;
					font-size: 14px;
					font-weight: 600;
					
					margin: 20px;
					@include breakpoint(medium) {
						margin: 20px 20px 50px;
					}

					left: 30px;
					display: none;
					
					@at-root .expanded#{&} {
						display: block;
						
						@include breakpoint(medium) {
							
						}
						
						@include breakpoint(large) {
							left: 130px;
						}
					}
					
					&:before {
						content: "";
						width: 40px;
						height: 20px;
						background: url(../img/download.svg) no-repeat;
						position: absolute;
						left: -30px;
						top: 0px;
					}
				}

				.rooms {
					display: none;
					// border: 1px red solid;

					@at-root .expanded#{&} {
						display: block;
						position: relative;

						@include breakpoint(medium) {
							
						}
						
						@include breakpoint(large) {
							margin: 50px 10px 50px 20px;
							// margin: 20px;
						}

					}

					.compass {
						@at-root .expanded#{&} {
							width: 50px;
							height: auto;
							margin: 25px 10px;							

							@include breakpoint(medium) {
								
							}
							
							@include breakpoint(large) {
								margin: 30px;
							}
						}
					}
					
					ol, {
						cursor: pointer;
						column-count: 1;
						// column-gap: 60px;
						counter-reset: item;
						list-style-type: none;
						margin: 0;
						
						@include breakpoint(medium) {
							column-count: 2;
							margin-left: 1.25rem;
							
						}
						
						@include breakpoint(large) {
						}



						li {
							padding-left: 20px;	
							transition: background .6s, color .6s;	
							&.active {
								background: black;
								color: white;
							}
							&:not(.active):hover {
								background: white;
							}
							&:before { 
								content: counter(item) " "; 
								counter-increment: item;
								margin-right: 10px;
								width: 20px;
								display: inline-block;
							}
							// &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4) {
							// 	&:before { 
							// 		content: "";
							// 	}
							// } 
						}
					}

					ul {
						column-gap: 60px;
						column-count: 1;
						// column-gap: 100px;
						list-style: none;
						
						@include breakpoint(medium) {				
							column-gap: 60px;
							column-count: 2;
							padding: 20px;
						}
						
						@include breakpoint(large) {

						}


					}

				}

			}



			.right {
				position: relative;
				width: 40%;
				
				.compass_slider {
					
					@at-root .expanded#{&} {
						display: none;
					}

					// transform: rotate(180deg);
					// margin: 50px 20px 0px 0px;
					position: absolute;
					width: 60px;
					right: 0;
					// top: -110px;
					// margin: 40px 20px 0 0;
					// justify-self: left;
    				// align-self: flex-end;
    				margin: 20px

				}

				
				&:not(.grey) {
					display: flex;
					// justify-content: center;
					// align-items: center;
					// justify-content: space-evenly;
					flex-direction: row;
					justify-content: center;
					width: 100%;

					.coll-claim {
						font-size: 24px;
						align-self: flex-start;
						margin: 40px;
						margin-right: auto;
						color: $gold-dark;
						@include avenir('demi') 

						@at-root .expanded#{&} {
							display: none;
						}
					}
					

					@include breakpoint(medium) {
						width: 40%;
					}
					
					@include breakpoint(large) {

					}

				}
				
				@at-root .expanded#{&} {
				
					width: 100%;
					
					@include breakpoint(medium) {
						width: 100%;
					}
					
					@include breakpoint(large) {
						width: 50%;
					}


				}
				
				&.grey {
					display: none;
					background: $grey;
					
					@at-root .expanded#{&} {
						display: block;
					}

					&:before {
						content: " ";
					    background: $grey;
					    position: absolute;
					    width: 250%;
					    height: 100%;
					    left: -50%;
					    z-index: -10;
					}

				}

				svg {
					>[id^=Top], >[id^=top], #Path_2108 {
						fill: #A67543;
						transition: 1s fill;
					}
					cursor: pointer;

				}
				
				.topfloor {
				
					display: block;
					opacity: 1;
					transition: display 0.7s linear 2s,opacity 0.5s linear;
					// width: 100%;
					width: 100%;
					max-width: 300px;
					height: auto;
					padding: 20px;
					// margin: 50px;
					@at-root .expanded#{&} {
						visibility: hidden;
						display: none;
						opacity: 0;
						height: 0;
					}
				}

				.levels {
					display: flex;
					justify-content: center;
					align-items: center;
					// border: 1px red solid;
					
					>img {
						
					}
					
					@include breakpoint(medium) {
						
					}
					
					@include breakpoint(large) {
						margin: 50px 10px 50px 20px;
						// margin: 170px 0 0 10px;
					}

				}


				.copy {
					margin-top: 1000px;
					transition: 0.7s margin, height 0.7s;
					font-size: 14px;
					line-height: 1.2;
					height: 0;
					display: none;
					
					@at-root .expanded#{&} {
						display: block;
			    		margin: 50px 20px 20px;
			    		height: auto;
			    		
			    		@include breakpoint(medium) {
			    			
			    		}
			    		
			    		@include breakpoint(large) {
			    			margin: 435px 10px 40px;
			    		}
					}
				}
			}




			.gradient {

				@at-root .expanded#{&} {
					height: 0%;
					min-height: auto;
				}

			    display: block!important;
			    position: absolute;
			    width: 100%;
			    height: 4px;
			    transition: height 0.7s;
			    background: #c5a250;
			    background: -moz-linear-gradient(top, #c5a250 0%, #ac8048 100%);
			    background: -webkit-linear-gradient(top, #c5a250 0%, #ac8048 100%);
			    background: linear-gradient(to bottom, #c5a250 0%, #ac8048 100%);
			    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5a250', endColorstr='#ac8048',GradientType=0 );
			    z-index: 1100;
			    display: block;
			    /* left: calc(60% - 8px); */
			    top: 50%;
			    left: 0;

				@include breakpoint(medium) {
					top: 0;
					width: 8px;
					// min-height: 350px; //??
					height: 100%;
					left: calc(60% - 8px);
				}
				
				@include breakpoint(large) {

				}

			}


			.bottom {
				display: none;
				
				@at-root .expanded#{&} {




					width: 100%;
					display: flex;
					justify-content: center;
					padding: 20px 10px;

					@include breakpoint(medium) {
						padding: 40px 20px;
					}
					
					@include breakpoint(large) {
						padding: 40px;
					}


					.divider {
						height: 100%;
						margin: 0 20px;
						border: 1px black solid;
					}
					h3 {	

						@include freight('lala')
						font-size: 22px;
						@include breakpoint(medium) {
							font-size: 44px;
						}
						@include breakpoint(large) {
							font-size: 56px;
						}
						.next {
							@include avenir('demi')
							font-size: 14px;
							@include breakpoint(medium) {
								font-size: 26px;
							}
							@include breakpoint(large) {
								font-size: 37px;
							}
						}



						img {
							height: 20px;
							margin-left: 20px;
						}
					}



				}
			}
	    }

			
		svg [id^="N"] {
    		cursor: pointer;
    		// stroke-width: 5;
    		// fill: pink;
    		// stroke: red;
    		// z-index: 99999999999;
			
			&.active {
				>path {
					fill: black;
				}

				>g {
	    		    fill: #FFFFFF;
				    stroke: black;
				    stroke-width: 0.5;
				}
			}
		}

	    &:hover {
	    	h1 {
	    		color: black!important;
	    	}

	    	svg {
	    		>[id^=Top], >[id^=top], #Path_2108 {
	    			fill: black!important;	//Flat
	    		}

	    	}
	    }
	} //dynamicFrame

	* {
		outline: none !important;
	}

}


