/* BRAINDS GENERAL SPACINGS */

$vspace-lg: 48px;
$vspace-md: 30px;

body 							{
									color: 					#000;
									color: 					#000;
									font-size: 				20px;
									height: 				100vh;
									width: 					100%;
}

h1, h2, h3, h4, h5 				{
									font-size: 				30px;
									font-weight: 			700;
									width: 					100%;
}

h2 								{
									font-weight: 			700;
									margin: 				0 auto;
									max-width: 				800px;
									padding-bottom: 		8px;		
}
p 								{
									line-height: 			1.25;
}

/* HELPERS */
.vspacer 						{
									flex-grow: 				2;
}

/* STATES  */
.active 						{
									color: 					$brainds-active;
}
.wide 							{
									max-width: 				1024px;	
									margin: 				0 auto;
	@include breakpoint(small only)	{
									padding: 				0 10%;
	}
}
.journal 						{
	p 							{
									column-count: 			2;
	}
}

.arrow 							{
									background-image: 		url('../img/brainds_icon_up.svg');
									display: 				inline-block;
									height: 				70px;
									width: 					70px;
	&.back 						{
									transform: 				rotate(-90deg);
	}								
}


.menu-text > a 					{
									display: 				inline;
}

.image-container 				{
									min-height: 			200px;
									margin-bottom: 			$vspace-md;		
									padding-right: 			20px;
									padding-top: 			7px;
									text-align: 			center;
}

.image 							{
									background-repeat: 		no-repeat;
									background-position: 	top center;
									background-size: 		contain;
									display: 				block;
									min-height: 			200px;
									max-height: 			600px;
									height: 				100%;
									width: 					100%;
	.img-block & 				{
									background-position: 	top center;
									background-size: 		cover;
									min-height: 			400px;
	}								
}								

.embed,
.featured-image 				{
									min-height: 			40vh;
									max-height: 			360px;
									width: 					100%;
}

iframe 							{
									max-width: 				100%;
}

.featured-image 				{
									background-size: 		cover;
									background-position: 	center;
	&.contain {
									background-size: 		contain;
	}
}

.embed 							{
									border: none;
}

$teaser-height: 300px;

.post-thumbnail-container 		{
									width: 					100%;
									height: 				$teaser-height;
									overflow: 				hidden;

	.post-thumbnail 			{
									@include animated;
									background-size: 		cover;
									background-position: 	center;
									background-repeat: 		no-repeat;
									min-height: 			$teaser-height;
									width: 					100%;
	}
	&:hover  					{
		.post-thumbnail 		{
									transform: 				scale(1.03);
		}							
	}							

	+ h3 						{
								    font-weight: 			700;
								    line-height: 			1.2;
									margin-top:  			10px;
	}	
}

.post 							{
									@include animated;
}

.post:hover 					{
									color: 					$brainds-active;
	.post-thumbnail-container 	{
		.post-thumbnail 		{
									transform: 				scale(1.03);
		}
	}
}

/* SINGLE PAGE (DETAIL VIEW) */
.page-template-default 			{
	.section:first-child 		{
		h2 						{
									font-size: 				40px;
									line-height: 			45px;
									font-weight: 			700;
		}
		&.wide p {
									font-size: 				25px;
									line-height: 			35px;		
		}
	}
}

.page-template-default 			{
	&.consulting, &.design 		{
		.section:first-child
			h2 					{
									//font-size: 				55px;
									//line-height: 			60px;		
		}						
	}
}

/* POST PAGE (OVERVIEW) */
.page-template-tmpl-overview 	{
	.sections 					{
									margin: 				0 auto;
									max-width: 				1200px;
		p {
									font-size: 				20;
									font-weight: 			400;
									line-height: 			25px;
		}							
		
		h3 						{
									font-size: 				30px;
									font-weight: 			700;
									line-height: 			33px;
		}
	}
}

.text-container 				{
 									width: 					100%;
}

body.design 					{
	.post-thumbnail 			{
									background-color: 		$brainds-design;
	}
}

body.consulting 				{
	.post-thumbnail 			{
									background-color: 		$brainds-consulting;
	}
}

/* READ MORE TAG */
.more 							{
									@include animated;
									display: 				inline-block;
									font-size: 				0;
									line-height: 			0;
									opacity: 				0;
	.open + &,					
	.open &						{
									font-size: 				inherit;
									line-height: 			inherit;
									opacity: 				1;
	}
}
.read-more 						{
									@include animated;
									display: 				block;
									font-size: 				20px;
									font-weight: 			600;
									line-height: 			25px;
									margin-top: 			16px;		
									text-decoration: 		underline;
	&:hover 					{
									color: 					$brainds-active;
	}								
}

.sections 						{
									padding-top: 			7px;
									padding-bottom: 		$vspace-lg;
	.section 					{
									//margin-bottom: 		$vspace-lg;
									padding-top: 			$vspace-lg;
		&.darken				{
									background: 			#f6f6f6;
		}

		&.text-wide 			{
									text-align: 			center;
		}

		&.img-block 			{
									padding-bottom: 		0;
									padding-top: 			0;
			+.img-block 		{
									margin-top: 			$vspace-md;
			}
		}

		&.img-single 			{
			+ .img-double 		{

				@include breakpoint(small only) {
									margin-top: 			10px;
				}
			}
		}

		&.img-double 			{
			.cell 				{
									margin-bottom: 			10px;
			}
		}

		&.quote 				{
			quote 				{
									color: 					$brainds-active;
									font-size: 				25px;
									line-height: 			35px;
				+ p 			{
									font-size: 				20px;
									line-height: 			25px;
									margin-top: 			$vspace-md;
									max-width: 				400px;
				}
			}	
		}

		&.v-spacer 				{
									padding-top: 			0;
									padding-bottom: 		0;
		}

		p a 					{
									@include animated;
									text-decoration: 		underline;
			&:hover 			{
									color: 					$brainds-active;
			}
		}
	}
}

.section-title 					{
									font-size: 				18px;
									margin-bottom: 			44px;
									position: 				relative;
									text-align: 			center;
									z-index: 				1;
	&::before 					{
									border-top: 			2px solid #000;
									bottom: 				0;
									content: 				"";
									left: 	 				0; 
									margin: 				0 auto;
									position: 				absolute; 
									top: 	 				calc(50% - 4px);
									right: 					0; 
									z-index: 				-1;
	}

	span 						{
									background: 			#fff;
									padding: 				0 10px;
		.darken & 				{
									background: 			$dirty-white;
		}							
	}
}

.modal 							{
									@include animated;
									background-color: 		$dirty-white;
									position: 				absolute;
									bottom: 				100%;
									left: 					0;
									opacity: 				0;
									overflow: 				hidden;
									right: 					0;
									top: 					$brainds-header-height;
									z-index: 				999;

	&.active 					{
									opacity: 				1;
									bottom: 				0;
	}

	> div 						{
									//padding: 				12%;
	}

	.close 						{
									font-size: 				200%;
									position: 				absolute;
									right: 					0;
									top: 					0;
									padding: 				$vspace-md;
									z-index: 				99;
	}
}

.modal-open 					{
									overflow: 				hidden;
	.modal 						{
									overflow-y: 			auto;
	}								
}

.more-link 						{
	display: block;
}

.more-link,
.link 							{
									@include animated;
									text-decoration: 		underline;
}

.link:hover,
.more-link:hover 				{
									color: 					$brainds-active;

}

.link.special 					{
									border-bottom: 			2px solid #000;							
									font-size: 				90%;
									font-weight: 			600;
									text-decoration: 		none;
}

.person 						{
									padding: 				$vspace-md;
									text-align: 			center;
	.portrait 					{
									border-radius: 			300px;
									line-height: 			1.5;
									margin-bottom: 			15px;
	}
	.link 						{
									display: 				inline-block;
									margin-top: 			10px;	
	}
}


/* FORMS */

.wpforms-container-full 		{
									margin-top: 			-20px!important;
									margin-left: 			-2px !important;
									padding-left: 			20px !important;
									width: 					100% !important;
	button   					{
									background: 			transparent!important;
									border: 				none!important;
									border-bottom: 			2px solid #000!important;
								    padding: 				0!important;
								    padding-bottom: 		2px!important;
									font-size: 				80%!important;
									text-decoration: 		underline;
	}
}


.wpforms-field,
.wpforms-field-row 				{
									max-width: 				100%!important;
	input 						{
									border: 				none!important;
									height: 				32px!important;

		&::-webkit-input-placeholder,
		&:-moz-placeholder,
		&::-moz-placeholder,
		&:-ms-input-placeholder {  
									color: 					979797!important;  
		}

	}
}

/* MOBILE VIEW */
@include breakpoint(small only) {
	h2, h3 						{
									font-size: 				130%;
	}
	img + img 					{
									margin-top: 			$vspace-md;
	}
	.section 					{
		&.quote,
		&.text-simple 			{
									padding: 				$vspace-md;
		}
	}
	.journal p 					{
									column-count: 			1;
	}
	.top-bar-right 				{
									flex: 					0 0 auto!important;
	}
}

/* ADMIN VIEW */
.logged-in 						{
	.hoverText 					{
									margin-top: 			32px;
	}
	.modal 						{
									margin-top: 			32px;
	}
}