body 							{
									color: 					#000;
									color: 					#000;
									font-size: 				22px;
									height: 				100vh;
									width: 					100%;
}

h1, h2, h3, h4, h5 				{
	width: 100%;
}

h2 								{
									font-weight: 			600;
									margin: 				0 auto;
									max-width: 				800px;
									padding-bottom: 		8px;		
}


.vspacer 						{
									flex-grow: 				2;
}

.menu-text > a 					{
									display: 				inline;
}

.image-container 				{
									padding: 				10px;
									text-align: 			center;
}

.embed,
.featured-image 				{
									min-height: 			40vh;
									max-height: 			360px;
									width: 					100%;
}

.embed 							{
									border: none;
}

.post-thumbnail-container 		{
									background-size: 		cover;
									background-position: 	center;
									background-repeat: 		no-repeat;
									width: 					100%;
									height: 				300px;
}

.wide 							{
									padding: 				0 10%;	
}

.journal 						{
	p 							{
									column-count: 			2;
	}
}

$vspace-lg: 48px;
$vspace-md: 30px;

.sections 						{
									padding-top: 			7px;
									padding-bottom: 		$vspace-lg;
	.section 					{
									padding-bottom: 		$vspace-lg;
									padding-top: 			$vspace-lg;
		&.darken				{
									background: 			#f6f6f6;
		}

		&.text-simple + 
		 .img-block 			{
								 	margin-top: 			-$vspace-lg;
		 }

		&.text-wide 			{
									text-align: 			center;
		}

		&.img-block 			{
									padding-bottom: 		0;
									padding-top: 			0;
			+.img-block 		{
									margin-top: 			$vspace-md;
			}
		}

		&.quote 				{
			quote 				{
									color: 					$brainds-active;
									font-size: 				130%;
				+ p 			{
									font-size: 				70%;
									margin-top: 			$vspace-md;
									max-width: 				400px;
				}
			}	
		}

		&.v-spacer 				{
									padding-top: 			0;
									padding-bottom: 		0;
		}
	}
}

.section-title 					{
									font-size: 				100%;
									margin-bottom: 			44px;
									position: 				relative;
									text-align: 			center;
									z-index: 				1;
	&::before 					{
									border-top: 			2px solid #000;
									bottom: 				0;
									content: 				"";
									left: 	 				0; 
									margin: 				0 auto;
									position: 				absolute; 
									top: 	 				50%; 
									right: 					0; 
									z-index: 				-1;
	}

	span 						{
									background: 			#fff;
									padding: 				0 10px;
	}
}

.modal 							{
									@include animated;
									background-color: 		$dirty-white;
									position: 				absolute;
									bottom: 				100%;
									left: 					0;
									opacity: 				0;
									overflow: 				hidden;
									right: 					0;
									top: 					$brainds-header-height;
									z-index: 				999;

	&.active 					{
									opacity: 				1;
									bottom: 				0;
	}

	> div 						{
									//padding: 				12%;
	}

	.close 						{
									font-size: 				200%;
									position: 				absolute;
									right: 					0;
									top: 					0;
									padding: 				$vspace-md;
									z-index: 				99;
	}
}

.more-link 						{
	display: block;
}

.more-link,
.link 							{
									@include animated;
									text-decoration: 		underline;
}

.link:hover,
.more-link:hover 				{
									color: 					$brainds-active;

}

.person 						{
									padding: 				$vspace-md;
									text-align: 			center;
	.portrait 					{
									border-radius: 			300px;
	}
}


/**/

.wpforms-field,
.wpforms-field-row {
									max-width: 100%!important;
	input {
									border: 	none!important;
									height: 	32px!important;

		&::-webkit-input-placeholder,
		&:-moz-placeholder,
		&::-moz-placeholder,
		&:-ms-input-placeholder {  
									color: 979797!important;  
		}

	}
}

/* ADMIN VIEW */
.logged-in 						{
	.hoverText 					{
									margin-top: 			32px;
	}
	.modal 						{
									margin-top: 			32px;
	}
}