.top-bar 						{
									height: 		$brainds-header-height;
									margin: 		0;
									overflow: 		hidden;
									padding: 		0;
	.menu-icon 					{
									@include animated;
									margin-right: 	(56px + $vspace-md);
									margin-top: 	7px;
									padding-left: 	14px!important;
		&::after 				{
									background-color: #000;
									box-shadow: 	0 8px 0 #000, 0 16px 0 #000;
		}
	}

	@include breakpoint(small only) {
		.top-bar-left 			{
									max-width: 		calc(100% - 53px);
		}
		.top-bar-right 			{
									max-width: 		52px;
		}
	}
}

.modal-open 					{	
	.menu-icon 					{
		&::after 				{
									background-color: 		transparent;
									box-shadow: 			none;
									content: 				"×";
									font-size: 				42px;
									margin-top: 			-11px;	
									text-align: 			center;
									-webkit-font-smoothing: none;
		}
	}
}

.top-bar,
.top-bar ul 					{
									background-color: $dirty-white;
}

.main-nav 						{
	.current-menu-item > a,
	.current-page-ancestor > a 	{
									color: 			$brainds-active;
	}
}

.brand 							{
									font-family: 	Times, "Times New Roman", serif;
									font-size: 		31px;
									margin-left: 	56px;
	@include breakpoint(small only) {
									margin-left: 	-16px;
	}
}

.current-menu	 				{
									color: 			$brainds-active;
									font-size: 		22px;
									font-weight: 	600;
	&:hover 					{	
									color: 			$brainds-active;
									text-decoration: underline;
	}								
}

.menu-hauptmenue-container 		{
									height: 		calc(100% - #{$brainds-header-height});	
}

#menu-hauptmenue 				{
									align-items: 	center;
									height: 		100%;
									list-style: 	none;
	ul 							{
									list-style: 	none;
									margin-left: 	0;

	}								
	> .menu-item 				{
									padding-left: 	20%;
									width: 			50%;
		@include breakpoint(small only) {
									padding-left: 	0;
									text-align: 	center;
									width: 			100%;
		}


		> a 					{
									font-size: 		150%;
									font-weight: 	700;
		}
	}
	.sub-menu 					{
									font-size: 		120%;
	}
	a 							{
									@include animated;
		&:hover 				{
									color: 			$brainds-active;
									text-decoration:underline;
		}							
	}
}